body{
    background-color: #f0f0f0;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#cidades{
    max-height: 150px;
    overflow-y: auto;
}
#feriados{
    max-height: 150px;
    overflow-y: auto;
}

#div-feriados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 30px;
}
#div-paises{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    gap: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 30px;
}
#div-pesquisar-cidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 30px;
}
select{
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    background-color: #118511;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
